<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.udlap.is522.tedroid"
    android:versionCode="1"
    android:versionName="1.0-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/gms_games_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.MainMenuActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MockGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScoresActivity"
            android:label="@string/scores_activity_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings_activity_title"
            android:screenOrientation="portrait" />
    </application>

</manifest>