<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.udlap.is522.tedroid.test"
    android:versionCode="1"
    android:versionName="1.0-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="mx.udlap.is522.tedroid" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon" >
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>